*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
   font-size: 100px;
   font-weight: 500;
   background-color: #cccccccc;
   padding: 15px;
   margin: 10px;
   border-radius: 15px;
}
.clock{
    width:100%;
    height:100%;
    background-color: rgb(60, 60, 60);
    color: #ffffff;
    text-align: center;
    padding-top:80px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
@media (max-width:470px) {
    span{
        font-size:50px;
        padding-top:10px;
    }
}